@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

	font-family: sans-serif;
}


*, *::before, *::after{
  box-sizing: inherit;
}

body {
	margin: 0;
}

.gutter {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.img-flex {
	width: 100%;
	display: block;
}

.venus {
	text-align: center;
}

.navbar {
	margin-top: auto;
  margin-bottom: auto;
}

ul {
   padding: 0;
}

li {
    padding-left: 2rem;
}

a {
  padding: 1rem;
  background-color: green;

}

dd {
	margin-left: 0rem;
	margin-bottom: 1rem;
}

.desc {
	background-color: pink;
}

.secone {
	margin-top: 1rem;
	margin-bottom: 3rem;
}

.lideco {
	text-decoration: none;
}

.header {
	text-align: left;
	background-color: #dcdcdc;
}

.chars {
	background-color: grey;
	margin-top: 1rem;
	padding-top: 2rem;

}


@media only screen and (min-width: 25em) {

	.title {
		text-align: center;
	}

	.header {
		text-align: center;
		background-color: #dcdcdc;
	}


	li {
		display: inline-block;
	}
}

@media only screen and (min-width: 38em) {

	.title {
		text-align: left;
	}
}

